version: '3'

services:
  tableoperations-api:
    image: tableoperations-image
    build:
      context: .
    ports:
      - "8098:8098"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-docker-container:3306/classification?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&useLegacyDatetimeCode=false
      SPRING_DATASOURCE_USERNAME: ahmet
      SPRING_DATASOURCE_PASSWORD: mypass
    volumes:
      - /data/tableoperations-app
    networks:
      default:
        aliases:
          - subtitle
    container_name: tableoperations-api

networks:
  default:
    external:
      name: classificationnetwork